<!--The content below is only a placeholder and can be replaced.-->
<!--
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 
  <input type="text" [(ngModel)]="title">
</div>
-->
<div>
  <app-navbar></app-navbar> 
  <h3>Need a department header here with the department name and a hamburger navigation bar for about,syllabus and faculty</h3>
  <app-dept-header> </app-dept-header> 
  <h2>About</h2>
  <app-dept-about> </app-dept-about>
  <hr>
  <h2>Faculty</h2>
  <app-faculty> </app-faculty>
  <hr>
  <hr>
  <h2>Syllabus</h2>
  <app-dept-syllabus> </app-dept-syllabus>
</div>


<router-outlet></router-outlet>
